.text-meta
  color: rgba(255, 255, 255, 0.6)

.profile-icon
  $width: 220px

  max-width: $width
  border-radius: $width / 2
  transition: transform 0.3s

  &:hover
    transform: rotate(10deg)

.product-icon
  max-width: 52px
  filter: drop-shadow(2px 2px 2px #bbb)

ul.list-divider
  li
    &:nth-of-type(n+2)
      margin-top: 10px
      padding-top: 10px
      border-top: solid 1px #ddd;

li
  display: flow-root;
  .society
    display: inline-block

    .conference, .paper-authors, .paper-title
      display: block

    .paper-authors, .paper-title
      margin-left: 16px

.badge-link
  display: inline-block

span.badge.new
  &.badge-award
    background-color: #268bfa

.link
  .icon
    display: inline-block
    vertical-align: middle

  .text
    display: inline
    vertical-align: middle

.mail
  &:before
    content: 'paramtree'

  &:after
    content: 'gmail.com'

html
  height: 100%

body
  min-height: 100%
  display: flex
  flex-direction: column

.content
  flex: 1
